/* Green for text and blue for background */
:root{
    --blue: #4831D4;
    --green: #CCF381;
    --font: 'OCR A Std', monospace;
    --purple: #cf00ff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font); 
   /* background-color: #AEADA3; */
   background-color: var(--blue);
}

img {
    border: 4px double var(--green);
    padding: 2px;
}

/* Header */
.top {
    padding: 20px;
    font-family: var(--font);
    background-color: black;
    color:  var(--green);
}

.top h1 {
    display: inline-flex;
    font-size: 48px;
}

.top div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--font);
    font-size: 20px;
}

.top div nav ul {
    list-style-type: none;
}

.top div nav ul li {
    display: inline-flex;
    margin-left: 25px;
    cursor: pointer;
    border-bottom: 4px solid var(--green);
}

.top div nav ul li:hover {
    border-bottom: 4px double var(--blue);
    cursor: pointer;
    border-left: 4px double var(--blue);
}

a {
    color: var(--green);
    text-decoration: none;
}

p{
    font-size: 16px;
}

input {
    max-width: 150px;
    max-height: 50px;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 transparent;
    transition: ease-out .4s;
    color: var(--green);
    font-weight: bolder;
    margin-top: 17px;
    padding: 13px 30px;
}

input:hover {
    box-shadow: inset 150px 0 0 0 var(--green);
    border: 2px solid var(--green);
    color: var(--blue);
    cursor: pointer;
}

/* Below the header */
.responsive {
    padding: 0px 20px;
    display: inline-table;
    margin-top: 20px;
}

.responsive img {
    margin-top: 20px;
    padding: 5px;
    max-width: 33.33%;
    max-height: auto;
  /*  display: inline-table; */
}


/* Floats are for the positioning of the images of content boxes */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    max-width: 95%; /* add 25% more if needed */
    display: inline-flexbox;
    margin-left: 20px;
}

/* Combined Resume with aboutme */
.aboutMe {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    padding: 50px;
    max-height: 300px;
    font-family: var(--font);
    border-style: dotted;
    border-width: 3px;
    border-color: var(--green);
    background-color: black;
    color: var(--green);
}

.aboutMe h2 {
    margin-bottom: 20px;
    font-size: 56px;
    text-align: right;
}

.aboutMe img {
    max-height: 200px;
}

/* My Work */
.myWork {
    margin-bottom: 20px;
    text-align: left;
    padding: 50px;
    max-height: 300px;
    font-family: var(--font);
    background-color: var(--blue);
    background-color: black;
    color: var(--green);
    border-style: dotted;
    border-width: 3px;
    border-color: var(--green);
}

.myWork h2 {
    margin-bottom: 20px;
    font-size: 56px;
}

.myWork img{
    max-height: 200px;
}

/* Github */
.gitHub {
    margin-bottom: 20px;
    text-align: right;
    padding: 50px;
    max-height: 300px;
    font-family: var(--font);
    background-color: black;
    color: var(--green);
    border-style: dotted;
    border-width: 3px;
    border-color: var(--green);
}

.gitHub h2 {
    margin-bottom: 20px;
    font-size: 56px;
}

.gitHub img {
    max-height: 200px;
}

/* Ways to Contact me */
.contact {
    margin-bottom: 20px;
    padding: 50px;
    max-height: 300px;
    font-family: var(--font);
    background-color: black;
    color: var(--green);
    border-style: dotted;
    border-width: 3px;
    border-color: var(--green);
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 56px;
}

.contact img {
    max-height: 200px;
}

/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: var(--green);
}

footer h2 {
    font-size: 20px;
}

.underLine {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: var(--blue);
}

@media screen and (min-width: 400px) and (max-width: 782px) {
    body {
        /*
        
        */
    }

    p{
        font-size: 13px;
    }
/*-------------- Buttons ------------*/

/*--------- Floats ------------------*/
    .float-left {
        float: left;
        margin-right: 25px;
    }

    .float-right {
        float: right;
        margin-left: 25px;
    }

/*----------- Home Display IMGs --------------*/
    .responsive {
        padding: 0px 20px;
        display: inline-table;
        margin-top: 20px;
    }

    .responsive img {
        max-width: 33.33%;
       /* max-height: auto;
        text-align: center; 
        max-width: 50%;*/
        max-height: auto;
    }

/*----------- Header --------------*/
    .top {
    padding: 20px;
    font-family: var(--font);
    background-color: black;
    color:  var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .top h1 {
        font-size: 25px;
    }

    .top div {
        padding-top: 15px;
        margin-right: 20px;
        margin-top: 10px;
        float: right;
        font-family: var(--font);
        font-size: 10px;
    }

    .top div nav ul {
        list-style-type: none;
    }

    .top div nav ul li {
        margin-left: 25px;
        cursor: pointer;
        border-bottom: 4px solid var(--green);
    }

    .top div nav ul li:hover {
        border-bottom: 4px double var(--blue);
        cursor: pointer;
        border-left: 4px double var(--blue);
    }


    .content {
        min-width: 25%; /* add 25% more if needed */
        display: inline-flexbox;
        margin-left: 20px;
    }

    /*-------- About me ------------*/
    .aboutMe {
        margin-bottom: 20px;
        text-align: right;
        padding: 25px;
        min-height: 150px;
        font-family: var(--font);
        background-color: black;
        color: var(--green);
        border-style: dotted;
        border-width: 3px;
        border-color: var(--green);
    }

    .aboutMe h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .aboutMe img {
        max-height: 130px;
    }

    /*-------------- My Work -----------------*/
    .myWork {
        margin-bottom: 20px;
        text-align: justify;
        padding: 25px;
        min-height: 150px;
        font-family: var(--font);
        background-color: black;
        color: var(--green);
        border-style: dotted;
        border-width: 3px;
        border-color: var(--green);
    }
    
    .myWork h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    

    .myWork img {
        max-height: 100px;
    }

    /*------------ Github ------------------*/
    .gitHub {
        margin-bottom: 20px;
        text-align: right;
        padding: 25px;
        min-height: 150px;
        font-family: var(--font);
        background-color: black;
        color: var(--green);
        border-style: dotted;
        border-width: 3px;
        border-color: var(--green);
    }

    .gitHub h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .gitHub img {
        max-height: 100px;
    }

    /*------------- Ways to Contact me --------*/
    .contact {
        margin-bottom: 20px;
        padding: 25px;
        min-height: 150px;
        font-family: var(--font);
        background-color: black;
        color: var(--green);
        border-style: dotted;
        border-width: 3px;
        border-color: var(--green);
    }
    
    .contact h2 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    

    .contact img {
        max-height: 100px;
    }
    

}

